.textContainer{
    align-self: flex-end;
     flex: 1;
     display: flex;
     align-items: center;
     gap: 20px;
}

.textContainer hr{
    border: none;
    border-top: 0.5px solid grey;
    width: 150px;
}

.titleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 2;
}


.title1{
    display: flex;
    align-items: center;
    gap: 15px;
}

.title1 img{
    width: 200px;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;
}

.title1 h1{
   font-size: 70px;
   font-weight: 100;
}


.title2{
    display: flex;
    align-items: center;
    gap: 20px;
}

.title2 h1{
    font-size: 70px;
    font-weight: 100;
 }

.title2 button{
    width: 200px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: orange;
    cursor: pointer;
    font-size: 20px;
} 

.cardContainer{
    gap: 20px;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1060px;
}

.cardContainer .card{
    width: 350px;
    height: 350px;
    border-radius: 12px;
    border: 0.5px solid grey;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.card h1{
    margin-bottom: 25px;
}
.card p{
    margin-bottom: 25px;
}

.card button{
    padding: 10px;
    background-color: orange;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

@media (max-width: 600px) {

    .services{
        height: 100vh;
        width: 100%;
        background: linear-gradient(180deg, #0c0c1d, #111132);
        display: flex;
        flex-direction: column;
    }

    .textContainer{
        align-self: center;
        text-align: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .textContainer hr{
        border: none;
        border-top: 0.5px solid grey;
        width: 150px;
    }

    .titleContainer{
        flex-direction: column;
    }

    .title1{
        margin-top: 9px;
    }

    .title1 img{
        width: 80px;
        height: 40px;
    }

    .title1 h1{
        font-size: 20px;
        font-weight: 100;
     }

     .title2 {
        display: flex;
        flex-direction: column;
    }

    .title2 h1{
        font-size: 20px;
        margin-top: 7px;
     }

     .title2 button{
        width: 150px;
        height: 50px;
    } 
   
     .card button{
        padding: 7px;
        border-radius: 8px;
        background: transparent;
        color: orange;
        border: 1px solid orange;
    }

    .card h1{
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .cardContainer{
        flex-direction: column;
        margin: 20px ;
        gap: 20px;
    }

    .cardContainer  #lastCard{
        display: none;
    }

    .cardContainer  #second{
        display: none;
    }

    .card p{
        width: 220px;
        margin-bottom: 5px;
    }
   
    .cardContainer .card{
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 10px 50px;
        width: 350px;
        height: 300px;
    }
}