.button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    position: fixed;
    top: 40px;
    left: 39px;
    background: transparent;
    cursor: pointer;
    display: block;
    z-index: 999;
}



@media (max-width: 600px) {
    .button{
        width: 100px;
        height: 100px;
    }
}