.navbar{
    height: 100px;
}

.wrapper{
    width: 1060px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper span{
    font-weight: bold;
}

.social{
    display: flex;
    gap: 15px;
}

.social a img{
    width: 20px;
    height: 20px;
}

@media (max-width: 600px) {
   

    .wrapper{
        width: 100%;
        justify-content: flex-end;
        padding: 30px;
    }
    .social a img{
        width: 30px;
        height: 30px;
        margin: 0 5px;
    }
    .wrapper span{
        display: none;
    }
}